.navbar{background-color: #000;}
#home{position: relative; min-height: 720px;}
.margin_top{padding-top: 15%;}
.navbar-dark .navbar-nav .nav-link{color: #fff; font-size: 20px;}
.navbar .container h2{ color: #fff;}
.container .text-decoration-none:hover{text-decoration: none;}
.row1{ height: auto; padding-bottom: 80px;}
.row2{top: 60%; position: absolute;}
.mt-4{margin-top: 11rem !important; }
.background-dark{background: #000; color: #fff; position: relative; height: 720px;}
.background-dark h1{font-weight: bold;}
.pt-5{padding-top: 6rem !important;}
.carousel-inner{padding-left: 20%;}
.carousel-control-next-icon:after { content: '>'; font-size: 55px; color: #373131;}
.carousel-control-prev-icon:after { content: '<'; font-size: 55px; color: #373131;}
.home_kirtan p{font-size: 26px;}
.home_kirtan .btn{font-size: 22px;}
.background-white{background: #fff; color: #000; position: relative; min-height: 720px;}
.background-white h1{font-weight: bold;}
.contact-sec{position: relative; min-height: 750px;}
.input-group label{font-size: 20px; margin-right: 8px;}
.py{font-size: 20px; margin: 0px; padding-top: 20px;}
.pz{font-size: 20px; margin: 0px; padding-bottom: 60px;}

@media (max-width: 767px){
  .row1{margin-top: 30%;}
  .mt-4{margin-top: 7rem !important;}
  .background-dark h1{font-size: 34px;}
  .background-white h1{font-size: 34px;}
}
@media (max-width: 575px){
  .row1{margin-top: 10%;}
  .carousel-inner{padding-left: 10%;}
  .mt-4{margin-top: 0% !important; padding-bottom: 80px;}
}
@media (max-width: 413px){
  .row1{margin-top: 15%;}
  .carousel-inner{padding-left: 0%;}
  .mt-4{margin-top: 0% !important; padding-bottom: 80px;}
}
