.navbar-dark{background: #000;}
.navbar-dark a{color: #fff !important;}
.row1{margin-top: 13%; margin-bottom: 20%;}
.row1 h1{padding-bottom: 50px;}
.audio p{font-size: 18px; font-weight: bold;}
.mt-5{padding-top: 12% !important;}

@media (min-width: 768px) and (max-width: 991px){
  .row1{margin-top: 15% !important;}
  .audio audio{width: 320px !important;}
}
@media (min-width: 576px) and (max-width: 767px){
  .row1{margin-top: 20% !important;}
}
@media (min-width: 414px) and (max-width: 575px){
  .row1{margin-top: 28% !important;}
  .audio audio{width: 320px !important;}
  .row1 h1{font-size: 36px;}
}
@media (max-width: 413px){
  .row1{margin-top: 40% !important;}
  .row1 h1{font-size: 32px;}
  .row1 img{width: 300px !important; height: 300px !important;}
  .audio audio{width: 280px !important;}
}
