*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif; 
  }
  
  /*Main banner settings*/
  header{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    z-index: 1000;
  }
  
  /*where the logo is*/
  header .logo{
    margin: 0 -90px 0;
    max-height: 70px;
  }
  
  /*how banner menus are displayed*/
  header ul{
    position: relative;
    display: flex;
  }
  
  /*how banner menus are displayed*/
  header ul li{
    position: relative;
    list-style: none;
  }
  
  /*how banner menu is shown settings*/
  header ul li a{
    position: relative;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  /*when hovering over the menu in banner*/
  header ul li a:hover{
    background: #111;
  }
  
  /*makes menu go to right*/
  .toggle{
    display: none;
  }
  
  /*every section setting*/
  section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 150px 100px 100px;
  }
  
  /*settings for image*/
  section img{
    position: absolute;
    top: 200px;
    left: 45%;
    max-height: 300px;
  }
  
  /*settings for page title*/
  section h2{
    position: absolute;
    top: 80px;
    left: 40%;
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 0 0 20px;
  }
  
  /*settings for text under title*/
  section p{
      position: relative;
      top: 100px;
      left: 133%;
      font-size: 18px;
  }
  
  /*settings for oppostive colour pages*/
  section:nth-child(odd){
    position: relative;
    align-items: center;
    background: #000000;
    color: #fff;
  }
  
  /*hides scrollbar*/
  body::-webkit-scrollbar {
    display: none;
  }
  

/*settings for audio*/
section audio{
    position: relative;
    top: 200px;
    left: 100%;
    min-width: 550px;
    max-height: 100px;
  }
  

  /*settings for mobile compatibilty*/
  @media (max-width: 992px) {
    section{
      flex-direction: column;
      align-items: center;
      display: flex;
    }
    section audio{
      position: absolute;
      max-width: 300px;
      max-height: 40px;
      top: 500px;
      left: 10%;
    }
    section h2{
      position: absolute;
      top: 80px;
      left: 55%;
      font-size: 1em;
      text-transform: uppercase;
      padding: 0 0 20px;
    }
    section img{
      left: 50%;
      top: 150px;
      max-width: 60%;
    }
    section p{
        position: absolute;
        top: 400px;
        left: 50%;

    }
  }
